/* continent color */
path.eu
{
  opacity:1;
  fill: #ff0000;
}

/* country colors */
/*#country1*/
#be
{

    fill:       #000000;
}

/*#country2 Vragen kleuren id code voor alles bedekken*/
#lu-
{
  opacity:1;
fill: #00ff00;
}
#path6484
{
  opacity:1;
fill: #ff7700;
}
